fastapi
uvicorn
python-jose
python-multipart
python-keycloak
requests
pydantic>=1.8.2
python-dotenv
pymupdf
paddleocr
psycopg2-binary
minio
numpy
sentence-transformers
langchain
python-docx
PyPDF2
passlib
redis
sqlalchemy
paddlepaddle